* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f4f6f8;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.upload-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.upload-box button {
  padding: 10px 18px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.upload-box button:hover {
  background: #0056b3;
}

.video-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 420px;
  margin: 0 auto; 
}



.video-card video {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 16; 
  background: black;
  border-radius: 8px;
}



.delete-btn {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background: #dc3545;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b02a37;
}
